<!DOCTYPE html>
<html>
<head>
    <title>City Fighter</title>
    <script src="public/js/script.js"></script>
</head>
<body>
    <header>
    </header>
    hey hey hey
    {{#each cities}}
        <div class="city">
         <p class="name">{{name}}</p>
         <img src="{{gifUrl}}">
         <p class="averageSalary">Average Salary: {{averageSalary}}</p>
         <p class="costOfLiving">Cost of Living: {{costOfLiving}}</p>
         <p class="livability">Livability: {{livability}}</p>
         <p class="numJobs">Number of Available Positions: {{numJobs}}</p>
     </div>
       {{/each}}
</body>
</html>
